.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body {
}

table,
td,
tr {
  border: none;
  border-spacing: 0px;
}

.area {
  display: inline;
}

.tile {
  float: left;
  width: 7%;
}

.AppTable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
}

.TopRow {
  height: 25%;
}

.MiddleRow {
  height: 50%;
}

.BottomRow {
  height: 25%;
}

.leftPlayerArea {
  background-color: lightcoral;
  width: 15%;
}

.centerArea {
  background-color: lightcyan;
}

.rightPlayerArea {
  background-color: lightcoral;
  width: 15%;
}

.topPlayerArea {
  background-color: powderblue;
}

.playerArea {
  background-color: lightblue;
}

.leftPlayerDiscards {
  background-color: lightgreen;
  width: 25%;
}

.rightPlayerDiscards {
  background-color: lightgreen;
  width: 25%;
}

.topPlayerDiscards {
  background-color: lightgreen;
  height: 25%;
}

.playerDiscards {
  background-color: lightgreen;
  height: 25%;
}

.CenterArea {
  height: 100%;
  width: 100%;
  background-color: black;
}
